body,
html {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
  font-size: 16px;
  color: #cbcedf;
  margin: 0;
  background: #1A1D2B;
}

* {
  box-sizing: border-box;
  color: inherit;
  text-decoration: inherit;
}

button,
input[type=submit] {
  background-color: #AE445A;
  padding: 12px 24px;
  border-radius: 12px;
  color: #fff;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
  transition: 0.2s background-color ease;
  font-family: inherit;
  font-size: inherit;
}
button:hover,
input[type=submit]:hover {
  background-color: #893647;
}

input[type=text],
input[type=password],
textarea,
select {
  background-color: #24283b;
  padding: 12px 24px;
  border-radius: 12px;
  color: #fff;
  outline: none;
  border: none;
  transition: 0.2s background-color ease;
  font-family: inherit;
  font-size: inherit;
}

.contenteditable {
  border: 3px solid #AE445A;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 12px;
  border-radius: 12px;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.wrapper .left-side-bar {
  min-height: 100vh;
  width: 15%;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}
.wrapper .left-side-bar .logo {
  color: #fff;
  margin-bottom: 24px;
  font-family: "Bebas Neue", sans-serif;
  margin: 24px;
  font-size: 2.5em;
}
.wrapper .left-side-bar .logo a {
  transition: 0.2s color ease;
}
.wrapper .left-side-bar .logo a:hover {
  color: #AE445A;
}
.wrapper .left-side-bar .menu {
  width: 100%;
}
.wrapper .left-side-bar .menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.wrapper .left-side-bar .menu ul li {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
}
.wrapper .left-side-bar .menu ul li.logout {
  border-top: 1px solid rgba(255, 255, 255, 0.06);
  padding-top: 24px;
  margin-top: 24px;
}
.wrapper .left-side-bar .menu ul li.current {
  border-right: 3px solid #AE445A;
}
.wrapper .left-side-bar .menu ul li.current a {
  background-color: #24283b;
  color: #fff;
}
.wrapper .left-side-bar .menu ul li.whats-new a {
  color: #fff;
}
.wrapper .left-side-bar .menu ul li.whats-new a .fa {
  color: #AE445A;
}
.wrapper .left-side-bar .menu ul li a {
  padding: 12px;
  border-radius: 12px;
  transition: 0.2s background-color ease;
  font-weight: bold;
  align-items: center;
  display: flex;
  margin: 0 24px;
}
.wrapper .left-side-bar .menu ul li a .fa {
  margin-right: 12px;
  font-size: 1.25em;
}
.wrapper .left-side-bar .menu ul li a:hover {
  background-color: #24283b;
  color: #fff;
}
.wrapper .main-container {
  width: 85%;
}
.wrapper .main-container .top-bar {
  display: flex;
  width: 100%;
  padding: 24px;
}
.wrapper .main-container .top-bar .search-area {
  width: 30%;
  position: relative;
}
.wrapper .main-container .top-bar .search-area .fa {
  font-size: 1.25em;
  position: absolute;
  top: 50%;
  left: 24px;
  pointer-events: none;
  transform: translateY(-50%);
  margin-top: -2px;
}
.wrapper .main-container .top-bar .search-area input {
  border: none;
  outline: none;
  padding: 18px 18px 18px 64px;
  border-radius: 12px;
  background-color: #24283b;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  color: #fff;
}
.wrapper .main-container .top-bar .user-area {
  margin-left: auto;
  display: flex;
  align-items: center;
  padding: 6px 24px;
}
.wrapper .main-container .top-bar .user-area .avatar {
  height: 48px;
}
.wrapper .main-container .top-bar .user-area .avatar img {
  height: 100%;
  border-radius: 12px;
}
.wrapper .main-container .top-bar .user-area .username {
  font-weight: bold;
  margin-right: 12px;
  color: #fff;
}
.wrapper .main-container .top-bar .user-area .fa {
  margin-left: 12px;
  color: #fff;
}
.wrapper .main-container .breadcrumbs {
  padding: 0 24px;
}
.wrapper .main-container .breadcrumbs ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}
.wrapper .main-container .breadcrumbs ul li {
  padding: 6px 12px 6px 0;
}
.wrapper .main-container .breadcrumbs ul li .fa {
  margin-right: 6px;
}
.wrapper .main-container .breadcrumbs ul li a {
  transition: 0.2s color ease;
}
.wrapper .main-container .breadcrumbs ul li a:hover {
  color: #fff;
}
.wrapper .main-container .breadcrumbs ul li.current {
  font-weight: bold;
}
.wrapper .main-container .breadcrumbs ul li:last-child::after {
  display: none;
}
.wrapper .main-container .breadcrumbs ul li::after {
  font-family: FontAwesome;
  content: "\f054";
  margin-left: 12px;
  font-size: 0.7em;
}
.wrapper .main-container .section-header {
  margin: 24px;
  font-size: 1.5em;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
}
.wrapper .main-container .section-header .new-category {
  font-size: 1rem;
  margin-left: auto;
}
.wrapper .main-container .section-header .fa {
  margin-right: 12px;
}
.wrapper .main-container .logout {
  padding: 24px;
}
.wrapper .main-container .login-container {
  padding: 24px;
}
.wrapper .main-container .login-container form {
  display: flex;
  flex-direction: column;
}
.wrapper .main-container .login-container form input {
  margin-bottom: 12px;
}
.wrapper .main-container .inner-container {
  display: flex;
  flex-direction: row;
}
.wrapper .main-container .inner-container .left-container {
  width: 70%;
}
.wrapper .main-container .inner-container .left-container .error-404 {
  padding: 24px;
}
.wrapper .main-container .inner-container .left-container .member-list {
  margin: 24px;
}
.wrapper .main-container .inner-container .left-container .member-list ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #24283b;
  border-radius: 12px;
}
.wrapper .main-container .inner-container .left-container .member-list ul li {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding: 12px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  align-items: center;
}
.wrapper .main-container .inner-container .left-container .member-list ul li:last-child {
  border: none;
}
.wrapper .main-container .inner-container .left-container .member-list ul li .avatar {
  height: 48px;
}
.wrapper .main-container .inner-container .left-container .member-list ul li .avatar img {
  height: 100%;
  border-radius: 12px;
}
.wrapper .main-container .inner-container .left-container .member-list ul li .username a {
  font-weight: bold;
  color: #fff;
}
.wrapper .main-container .inner-container .left-container .form-success {
  background-color: #3a643a;
  padding: 12px;
  border-radius: 12px;
  color: #fff;
  font-weight: bold;
  margin: 0 0 24px 0;
}
.wrapper .main-container .inner-container .left-container .form-success:empty {
  display: none;
}
.wrapper .main-container .inner-container .left-container .form-errors ul {
  list-style-type: none;
  margin: 0 0 24px 0;
  background-color: #9b3232;
  border-radius: 12px;
  padding: 12px;
  color: #fff;
}
.wrapper .main-container .inner-container .left-container .form-errors ul:empty {
  display: none;
}
.wrapper .main-container .inner-container .left-container .form-errors ul li {
  font-weight: bold;
}
.wrapper .main-container .inner-container .left-container .thread-create-form,
.wrapper .main-container .inner-container .left-container .category-create-form,
.wrapper .main-container .inner-container .left-container .account-settings-form {
  padding: 24px;
}
.wrapper .main-container .inner-container .left-container .thread-create-form form,
.wrapper .main-container .inner-container .left-container .category-create-form form,
.wrapper .main-container .inner-container .left-container .account-settings-form form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.wrapper .main-container .inner-container .left-container .thread-create-form .delete-category,
.wrapper .main-container .inner-container .left-container .category-create-form .delete-category,
.wrapper .main-container .inner-container .left-container .account-settings-form .delete-category {
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid rgba(255, 255, 255, 0.06);
}
.wrapper .main-container .inner-container .left-container .thread-create-form .delete-category .delete,
.wrapper .main-container .inner-container .left-container .category-create-form .delete-category .delete,
.wrapper .main-container .inner-container .left-container .account-settings-form .delete-category .delete {
  width: 100%;
}
.wrapper .main-container .inner-container .left-container .thread-create-form .delete-category .delete .fa,
.wrapper .main-container .inner-container .left-container .category-create-form .delete-category .delete .fa,
.wrapper .main-container .inner-container .left-container .account-settings-form .delete-category .delete .fa {
  margin-right: 6px;
}
.wrapper .main-container .inner-container .left-container .thread-container {
  background-color: #24283b;
  padding: 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: row;
  margin: 24px;
  gap: 24px;
}
.wrapper .main-container .inner-container .left-container .thread-container .poster {
  display: flex;
  flex-direction: column;
  width: 20%;
  border-right: 1px solid rgba(255, 255, 255, 0.06);
}
.wrapper .main-container .inner-container .left-container .thread-container .poster .username {
  margin-bottom: 12px;
}
.wrapper .main-container .inner-container .left-container .thread-container .poster .username a {
  font-weight: bold;
  color: #FFF;
}
.wrapper .main-container .inner-container .left-container .thread-container .poster .avatar {
  height: 120px;
}
.wrapper .main-container .inner-container .left-container .thread-container .poster .avatar img {
  height: 100%;
  border-radius: 12px;
}
.wrapper .main-container .inner-container .left-container .thread-container .body {
  width: 80%;
}
.wrapper .main-container .inner-container .left-container .thread-container .body .saveEdit {
  display: none;
}
.wrapper .main-container .inner-container .left-container .thread-container .body .footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
}
.wrapper .main-container .inner-container .left-container .thread-container .body .footer .controls ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.wrapper .main-container .inner-container .left-container .thread-container .body .footer .timestamp {
  font-size: 0.9em;
  opacity: 0.75;
}
.wrapper .main-container .inner-container .left-container .thread-container .body .footer .reactions {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  gap: 12px;
}
.wrapper .main-container .inner-container .left-container .thread-container .body .footer .reactions button {
  transition: 0.2s background-color ease;
}
.wrapper .main-container .inner-container .left-container .thread-container .body .footer .reactions .likes {
  background-color: #3a643a;
}
.wrapper .main-container .inner-container .left-container .thread-container .body .footer .reactions .likes:hover {
  background-color: #4d844d;
}
.wrapper .main-container .inner-container .left-container .thread-container .body .footer .reactions .dislikes {
  background-color: #9b3232;
}
.wrapper .main-container .inner-container .left-container .thread-container .body .footer .reactions .dislikes:hover {
  background-color: #c13f3f;
}
.wrapper .main-container .inner-container .left-container .categories-threads {
  margin: 24px;
}
.wrapper .main-container .inner-container .left-container .categories-threads .action-buttons {
  display: flex;
  flex-direction: row;
  gap: 12px;
}
.wrapper .main-container .inner-container .left-container .categories-threads .action-buttons button .fa {
  margin-right: 12px;
}
.wrapper .main-container .inner-container .left-container .categories-threads .action-buttons .new-thread {
  margin-bottom: 24px;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
}
.wrapper .main-container .inner-container .left-container .categories-threads .action-buttons .new-thread .fa {
  margin-right: 12px;
}
.wrapper .main-container .inner-container .left-container .categories-threads ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #24283b;
  border-radius: 12px;
}
.wrapper .main-container .inner-container .left-container .categories-threads ul li {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.06);
  padding: 12px;
}
.wrapper .main-container .inner-container .left-container .categories-threads ul li:last-child {
  border: none;
}
.wrapper .main-container .inner-container .left-container .categories-threads ul li .avatar {
  height: 48px;
}
.wrapper .main-container .inner-container .left-container .categories-threads ul li .avatar img {
  height: 100%;
  border-radius: 12px;
}
.wrapper .main-container .inner-container .left-container .categories-threads ul li .details .title {
  font-weight: bold;
  color: #fff;
}
.wrapper .main-container .inner-container .left-container .categories-threads ul li .details .author a {
  font-weight: bold;
}
.wrapper .main-container .inner-container .left-container .forum-categories {
  margin: 24px;
}
.wrapper .main-container .inner-container .left-container .forum-categories ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.wrapper .main-container .inner-container .left-container .forum-categories ul li {
  border-radius: 12px;
  background-color: #24283b;
  padding: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 12px;
}
.wrapper .main-container .inner-container .left-container .forum-categories ul li:last-child {
  margin-bottom: 0;
}
.wrapper .main-container .inner-container .left-container .forum-categories ul li .icon-wrapper {
  background-color: #AE445A;
  border-radius: 12px;
  height: 54px;
  width: 54px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
}
.wrapper .main-container .inner-container .left-container .forum-categories ul li .icon-wrapper .fa {
  font-size: 1.25em;
}
.wrapper .main-container .inner-container .left-container .forum-categories ul li .category-body {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.wrapper .main-container .inner-container .left-container .forum-categories ul li .category-body .category-title {
  font-weight: bold;
  color: #fff;
  align-self: center;
  margin-left: 24px;
  font-size: 1.1em;
}
.wrapper .main-container .inner-container .left-container .forum-categories ul li .category-body .content-count {
  display: flex;
  flex-direction: row;
  margin-right: 24px;
  align-items: center;
  margin-left: auto;
}
.wrapper .main-container .inner-container .left-container .forum-categories ul li .category-body .content-count .count {
  padding: 0 12px;
}
.wrapper .main-container .inner-container .left-container .forum-categories ul li .category-body .content-count .count .amount {
  font-weight: bold;
  color: #fff;
  font-size: 1.1em;
}
.wrapper .main-container .inner-container .left-container .forum-categories ul li .category-body .latest-post {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 30%;
  justify-content: right;
}
.wrapper .main-container .inner-container .left-container .forum-categories ul li .category-body .latest-post .post-details {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-right: 12px;
}
.wrapper .main-container .inner-container .left-container .forum-categories ul li .category-body .latest-post .post-details .username a {
  font-weight: bold;
}
.wrapper .main-container .inner-container .left-container .forum-categories ul li .category-body .latest-post .post-details .post-title a {
  font-weight: bold;
  color: #fff;
  font-size: 1.1em;
}
.wrapper .main-container .inner-container .left-container .forum-categories ul li .category-body .latest-post .avatar {
  height: 48px;
}
.wrapper .main-container .inner-container .left-container .forum-categories ul li .category-body .latest-post .avatar img {
  height: 100%;
  border-radius: 12px;
}
.wrapper .main-container .inner-container .right-container {
  width: 30%;
  padding: 0 48px;
}
.wrapper .main-container .inner-container .right-container .sidebar-header {
  color: #fff;
  font-size: 1.25em;
  font-weight: bold;
}
.wrapper .main-container .inner-container .right-container .sidebar-header .fa {
  margin-right: 6px;
}
.wrapper .main-container .inner-container .right-container .recent-threads {
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 24px;
}
.wrapper .main-container .inner-container .right-container .recent-threads ul {
  list-style-type: none;
  margin: 24px 0 0 0;
  padding: 0;
}
.wrapper .main-container .inner-container .right-container .recent-threads ul li {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-bottom: 12px;
}
.wrapper .main-container .inner-container .right-container .recent-threads ul li:last-child {
  margin-bottom: 0;
}
.wrapper .main-container .inner-container .right-container .recent-threads ul li a {
  transition: 0.2s color ease;
}
.wrapper .main-container .inner-container .right-container .recent-threads ul li a:hover {
  color: #fff;
}
.wrapper .main-container .inner-container .right-container .recent-threads ul li .avatar {
  height: 48px;
}
.wrapper .main-container .inner-container .right-container .recent-threads ul li .avatar img {
  height: 100%;
  border-radius: 12px;
}
.wrapper .main-container .inner-container .right-container .recent-threads ul li .thread .title a {
  font-weight: bold;
  font-size: 1.1em;
  color: #fff;
}
.wrapper .main-container .inner-container .right-container .recent-threads ul li .thread .user a {
  font-weight: bold;
}
.wrapper .main-container .inner-container .right-container .recent-threads ul li .thread .category a {
  font-weight: bold;
}/*# sourceMappingURL=main.css.map */